* {
    box-sizing: border-box;
    outline:none;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: row wrap;
}

